* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #454545;
}
html {
    scroll-behavior: smooth;
}

.nav {
    width: 100vw;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium); */
}

.hero-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3,
h5,
p {
    color: #FF6000;
    text-transform: uppercase;
}

.story-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.story-img {
    margin-right: 40px;
}

.story-text {
    width: 80%;
    
}

h4 {
    margin-bottom: 40px;
    margin-top: 30px;
    text-transform: uppercase;
}

.menu-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 40px 0; */
}

.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-height: 400px;
}

.menu-item {
    height: 300px;
    width: 16%;
    padding: 20px 35px;
    border-radius: 20px;
    border: 1px solid #A6A6A6;
    
    position: relative;
}

.contact-section {
    
}

.contact-content {
    display: grid;
    grid-template-columns: auto auto auto;
}